.loading{
    width: 100%;
    height: 100vh;
    top: 0;
    position: fixed;
    z-index: 999;
    background: #000;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    opacity: 1;
    visibility: visible;
}

.loading.--isloaded{
    opacity: 0;
    visibility: hidden;
    transition: 1s;
    -webkit-transition: 1;
}

.loading .loading__inner{
    width: 140px;
    height: 5px;
    border-radius: 10px;
    background: #fff;
    position: relative;
    overflow: hidden;
}

.loading .loading__inner .loading__inner-progress{
    height: 100%;
    position: absolute;
    background-color: #d3c1b1;
}
.loading .loading_percent{
    text-align: center;
    color: #fff;
    font-size: 17px;
    margin-top: 16px;
}