#showCaseCarousel {
    --f-carousel-slide-width: calc(94% / 3);
    --f-carousel-spacing: 0;
  
    --f-button-next-pos: 30px;
    --f-button-prev-pos: 30px;
  
    --f-button-width: 44px;
    --f-button-height: 44px;
    --f-button-border-radius: 50%;
  
    --f-button-color: #fff;
    --f-button-hover-color: #fff;
    --f-button-active-color: #fff;
  
    --f-button-bg: rgba(0, 0, 0, 0.5);
    --f-button-hover-bg: rgba(0, 0, 0, 0.8);
    --f-button-active-bg: rgba(0, 0, 0, 0.8);
  
    --f-button-svg-width: 22px;
    --f-button-svg-height: 22px;
    --f-button-svg-stroke-width: 3;
  }
  
  #showCaseCarousel .f-carousel__slide {
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: visible;
    padding: 3% 10px;
  }
  
  #showCaseCarousel img {
    border-radius: 20%;
    transform: scale(var(--f-scale, 1)) translateX(var(--f-translateX, 0));
    background: #fff;
  }
  
  @media (max-width: 767px) {
    #showCaseCarousel {
      --f-carousel-slide-width: 70%; /* Hiển thị 1 slide trên màn hình điện thoại */
      --f-carousel-spacing: 0;

      --f-button-next-pos: 0;
      --f-button-prev-pos: 0;

      --f-button-width: 0;
      --f-button-height: 0;
      --f-button-border-radius: 0;

      --f-button-svg-width: 0;
      --f-button-svg-height: 0;
      --f-button-svg-stroke-width: 0;
    }

    #showCaseCarousel img {
      border-radius: 5%;
      transform: scale(var(--f-scale, 0)) translateX(var(--f-translateX, 0));
      background: #fff;
    }

  }